<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<div class="show">
    <h2 class="caption">Here is your new recipe:</h2>
    <div class="full_recipe">
        <h3 class="recipe_name"> <%= @recipe.name.upcase %> </h3>
        <% @recipe.ingredients.each do |ingredient| %>
            <h3 class="ingredient">- <%= ingredient.name %></h3>
        <% end %>
    </div>
    <%= link_to "Add more ingredients", new_recipe_path, class: "ingredient_button" %>
</div>