<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </head>

    <h1 class="title">RecipeSearch</h1>
    <h2 class="caption">Find the perfect recipe for you!</h2>
    <div class="submit">
        <%= form_for @ingredient do |f| %>
            <%= text_field_tag :ingredient_names, "", placeholder: "salt, pepper, egg", class: "enter_ingredient" %>
            <%= f.submit "Submit Ingredients", class: "ingredient_button" %>
        <% end %>
    </div>
</html>