<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<div class="show">
    <% if @recipes[0] && @recipes[0].any? %>
        <h2 class="caption">Here are your matching recipes:</h2>
        <% @recipes.each do |recipe| %>
            <% recipe.each do |r| %>
                <div class="full_recipe">
                    <h3 class="recipe_name"> <%= r.name.upcase %> </h3>
                    <% r.ingredients.each do |ingredient| %>
                        <h3 class="ingredient">- <%= ingredient.name %></h3>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <h2 class="caption">There were no matching recipes,<br>try different ingredients</h2>
    <% end %>
    <%= link_to "Add more ingredients", ingredients_path, class: "ingredient_button" %>
</div>