<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
    </head>

    <h1 class="title">RecipeSearch</h1>
    <h2 class="caption">Find the perfect recipe for you!</h2>
    <div class="submit">
        <%= link_to "Add ingredients", ingredients_path, class: "ingredient_button" %>
    </div>
</html>