<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
    </head>

    <h1 class="title">RecipeSearch</h1>
    <h2 class="caption">Find the perfect recipe for you!</h2>
    <div class="submit">
        <input class="enter_ingredient" type="text" name="ingredient" placeholder="Enter an ingredient">
        <button class="ingredient_button" href="">Submit Ingredient</button>
    </div>
</html>